<div class="card">
  {% if section.settings.show_collection_image and collection.featured_image %}
    <a href="{{ collection.url }}" class="d-block">
      {{
        collection.featured_image
        | image_url: width: 720
        | image_tag:
          class: 'card-img-top object-fit-cover img-fluid',
          alt: collection.featured_image.alt,
          style: 'height: 200px'
      }}
    </a>
  {% endif %}
  <div class="card-body">
    {% if collection.all_products_count > 0 %}
      <a href="{{ collection.url }}" class="text-decoration-none">
        <h5 class="card-title">{{ collection.title }}</h5>
      </a>
    {% else %}
      <h5 class="card-title">{{ collection.title }}</h5>
    {% endif %}
    <p class="card-text">
      <small class="text-muted">{{ collection.products_count }} Products</small>
    </p>
    {% if collection.all_products_count > 0 %}
      <a href="{{ collection.url }}" class="btn btn-primary">View Collection</a>
    {% endif %}
  </div>
</div>
