<div class="card border-1">
  <!-- Image -->
  <a href="{{ product.url }}" style="height: 250px;" class="position-relative d-block">
    <img
      src="{{ product.featured_image.src | img_url: '720x' }}"
      class="w-100"
      style="object-fit: contain; max-height: 100%;"
      alt="{{ product.title }}"
    >
    {% if product.compare_at_price_max > product.price %}
      <span class="badge bg-primary position-absolute top-0 start-0 m-2">Sale</span>
    {% endif %}
  </a>
  <!-- Image -->

  <div class="card-body">
    <a href="{{ product.url }}" class="text-decoration-none">
      <h5 class="card-title">{{ product.title }}</h5>
    </a>

    <div class="d-flex justify-content-between align-items-start">
      <div>
        <span class="card-text fw-bold">{{ product.price | money }}</span>
        <br>
        {% if product.compare_at_price_max > product.price %}
          <span class="text-decoration-line-through">{{ product.compare_at_price_max | money }}</span>
        {% endif %}
      </div>
      <!-- Add to Cart Button -->

      {% form 'product', product, class: 'custom-class' %}
        <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
        <input type="hidden" name="quantity" value="1">

        <button type="submit" class="btn btn-primary">
        {% render 'icon-cart-plus' %}
          Add</button>
      {% endform %}
    </div>
  </div>
</div>
