{% if settings.social_facebook_link != blank %}
  <a class="text-black" href="{{ settings.social_facebook_link }}">{% render 'icon-facebook' %}</a>
{% endif %}

{% if settings.social_instagram_link != blank %}
  <a class="text-black" href="{{ settings.social_instagram_link }}">{% render 'icon-instagram' %}</a>
{% endif %}

{% if settings.social_youtube_link != blank %}
  <a class="text-black" href="{{ settings.social_youtube_link }}">{% render 'icon-youtube' %}</a>
{% endif %}

{% if settings.social_tiktok_link != blank %}
  <a class="text-black" href="{{ settings.social_tiktok_link }}">{% render 'icon-tiktok' %}</a>
{% endif %}

{% if settings.social_twitter_link != blank %}
  <a class="text-black" href="{{ settings.social_twitter_link }}">{% render 'icon-twitter' %}</a>
{% endif %}

{% if settings.social_snapchat_link != blank %}
  <a class="text-black" href="{{ settings.social_snapchat_link }}">{% render 'icon-snapchat' %}</a>
{% endif %}

{% if settings.social_pinterest_link != blank %}
  <a class="text-black" href="{{ settings.social_pinterest_link }}">{% render 'icon-pinterest' %}</a>
{% endif %}

{% if settings.social_vimeo_link != blank %}
  <a class="text-black" href="{{ settings.social_vimeo_link }}">{% render 'icon-vimeo' %}</a>
{% endif %}