<varinat-picker data-section="{{ section.id }}" data-url="{{ product.url }}">
  {% for product_option in product.options_with_values %}
    <fieldset class="my-2 btn-group-toggle {% if product.has_only_default_variant %}d-none{% endif %}" data-toggle="buttons">
      <span class="me-3">{{ product_option.name }}:</span>
      {% for value in product_option.values %}
        <label class="me-2 btn border">
          <input
            type="radio"
            name="Radios-{{ product_option.name }}"
            id="{{ forloop.index }}"
            value="{{ value }}"
            {% if product_option.selected_value == value %}
              checked
            {% endif %}
          >
          {{ value }}
        </label>
      {% endfor %}
    </fieldset>
  {% endfor %}
  <script type="application/json">
    {{ product.variants | json }}
  </script>
</varinat-picker>