<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <title>{{ shop.name }}</title>
    <meta name="description" content="{{ page_description | escape }}">
    {% render 'meta-tags' %}
    {{ content_for_header }}
    <!-- bootstrap -->
    {{ 'bootstrap5.3.1.min.css' | asset_url | stylesheet_tag }}
    <!-- custom -->
    {%- liquid
      assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
      assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    %}
    {% style %}
      {{ settings.type_body_font | font_face: font_display: 'swap' }}
      {{ body_font_bold | font_face: font_display: 'swap' }}
      {{ body_font_italic | font_face: font_display: 'swap' }}
      {{ body_font_bold_italic | font_face: font_display: 'swap' }}
      {{ settings.type_header_font | font_face: font_display: 'swap' }}
      :root {
        --font-body-family: {{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }};
        --font-body-style: {{ settings.type_body_font.style }};
        --font-body-weight: {{ settings.type_body_font.weight }};

        --font-heading-family: {{ settings.type_header_font.family }}, {{ settings.type_header_font.fallback_families }};
        --font-heading-style: {{ settings.type_header_font.style }};
        --font-heading-weight: {{ settings.type_header_font.weight }};
      }
      body {
        --bs-body-font-family: var(--font-body-family);
        --bs-body-font-weight: var(--font-body-weight);
        font-style: var(--font-body-style);
      }
      .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        font-weight: var(--font-heading-weight);
        font-family: var(--font-heading-family);
        font-style: var(--font-heading-style);
      }
    {% endstyle %}
  </head>
  <body data-bs-theme="{% if settings.enable_dark_theme %}dark{% else %}light{% endif %}">
    {% section 'password-header' %}
    <main>
      {{ content_for_layout }}
    </main>
    {% section 'password-footer' %}
  </body>
</html>
