<div class="container my-5">
  <div class="mb-3 text-{{ section.settings.heading_alignment }}">
    <h5>{{ section.settings.section_title }}</h5>
  </div>

  <div class="row row-cols-{{ section.settings.card_per_row_mobile }} row-cols-md-{{ section.settings.card_per_row_desktop }} g-4">
    {% for article in section.settings.blog.articles %}
      <div class="col">
        <div class="card h-100">
          {% if article.image != blank %}
            <a href="{{ article.url }}">
              {{ article.image | image_url: width: 360 | image_tag: class: 'card-img-top', alt: article.image.alt }}
            </a>
          {% endif %}
          <div class="card-body">
            <a class="text-decoration-none text-black" href="{{ article.url }}">
              <h5 class="card-title">{{ article.title }}</h5>
            </a>
            {% if section.settings.show_author %}
              <p class="card-text">
                <small class="text-body-secondary">{{ article.author }}</small>
              </p>
            {% endif %}
            <p class="card-text text-truncate">{{ article.content | truncate: 150 }}</p>
          </div>
          {% if section.settings.show_date %}
            <div class="card-footer">
              <div class="d-flex justify-content-between">
                <small class="text-muted">{{ article.published_at | date: '%B %d, %Y' }}</small>
                {% if article.comments_count > 0 %}
                  <small>{{ article.comments_count }} Comments</small>
                {% endif %}
              </div>
            </div>
          {% else %}
            {% if article.comments_count > 0 %}
              <div class="card-footer">
                <div class="d-flex justify-content-between">
                  <small>{{ article.comments_count }} Comments</small>
                </div>
              </div>
            {% endif %}
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Blog posts",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Heading",
      "default": "Heading"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "Heading alignment",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "start",
          "label": "Left"
        }
      ],
      "default": "center"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "Blog"
    },
    {
      "type": "header",
      "content": "Blog Card Settings"
    },
    {
      "type": "range",
      "id": "card_per_row_desktop",
      "min": 2,
      "max": 4,
      "step": 1,
      "label": "Card per row",
      "default": 3,
      "info": "For Desktop"
    },
    {
      "type": "range",
      "id": "card_per_row_mobile",
      "min": 1,
      "max": 3,
      "step": 1,
      "label": "Card per row",
      "default": 1,
      "info": "For Mobile"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "Show author",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "Show Date",
      "default": false
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Blog posts"
    }
  ]
}
{% endschema %}
