<footer class="bg-body-tertiary pt-5">
  <div class="container">
    {% if section.blocks.size > 0 %}
      <div class="row">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'info' %}
              <div class="col-{{ block.settings.width_mobile }} col-md-{{ block.settings.width_desktop }} mb-3">
                <h5>{{ block.settings.footer_section_title }}</h5>
                <div>{{ block.settings.paragraph }}</div>
              </div>
            {% when 'link' %}
              <div class="col-{{ block.settings.width_mobile }} col-md-{{ block.settings.width_desktop }} mb-3">
                <h5>{{ block.settings.footer_section_title }}</h5>
                <ul class="nav flex-column">
                  {% assign menu_handle = block.settings.menu.handle %}
                  {% for link in linklists[menu_handle].links %}
                    <li class="nav-item mb-2">
                      <a href="{{ link.url }}" class="nav-link p-0 text-body-secondary">{{ link.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>

            {% when 'newsletter' %}
              <div class="col-{{ block.settings.width_mobile }} col-md-{{ block.settings.width_desktop }} mb-3">
                {% form 'customer' %}
                  <h5>{{ block.settings.footer_section_title }}</h5>
                  <p>{{ block.settings.paragraph }}</p>
                  <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                    <label for="newsletter1" class="visually-hidden">Email address</label>
                    <input
                      id="newsletter1"
                      type="email"
                      name="contact[email]"
                      class="form-control"
                      placeholder="Email address"
                    >
                    <input class="btn btn-primary" type="submit" value="Subscribe">
                  </div>
                {% endform %}
              </div>

            {% when 'social_media' %}
              <div class="col-{{ block.settings.width_mobile }} col-md-{{ block.settings.width_desktop }} mb-3">
                <h5>{{ block.settings.footer_section_title }}</h5>
                <div class="d-flex gap-3">
                  {% render 'social-media' %}
                </div>
              </div>
          {% endcase %}
        {% endfor %}
      </div>
    {% endif %}
    <div
      class="d-flex flex-column flex-sm-row justify-content-between py-4 border-top"
    >
      <p>&copy; 2023 Company, Inc. All rights reserved.</p>
      {%- unless shop.enabled_payment_types == empty -%}
        <ul class="list-unstyled d-flex">
          <span class="visually-hidden">Supported payment methods</span>

          {%- for type in shop.enabled_payment_types -%}
            <li class="ms-3">
              {{ type | payment_type_svg_tag: width: 24 }}
            </li>
          {% endfor %}
        </ul>
      {% endunless %}
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [],
  "blocks": [
    {
      "type": "info",
      "name": "Info",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "footer_section_title",
          "label": "Heading",
          "default": "Headig"
        },
        {
          "type": "richtext",
          "id": "paragraph",
          "label": "Paragraph",
          "default": "<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, illo. Natus harum accusamus alias hic repudiandae, modi, perspiciatis eligendi debitis minus fugiat consequuntur, nisi deleniti quisquam dolor. Similique, modi impedit!</p>"
        },
        {
          "type": "header",
          "content": "Width"
        },
        {
          "type": "range",
          "id": "width_desktop",
          "min": 2,
          "max": 12,
          "step": 1,
          "label": "Width Desktop",
          "default": 6
        },
        {
          "type": "range",
          "id": "width_mobile",
          "min": 2,
          "max": 12,
          "step": 1,
          "label": "Width Mobile",
          "default": 12
        }
      ]
    },
    {
      "type": "link",
      "name": "Links",
      "limit": 4,
      "settings": [
        {
          "type": "text",
          "id": "footer_section_title",
          "label": "Heading",
          "default": "Quick links"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu"
        },
        {
          "type": "header",
          "content": "Width"
        },
        {
          "type": "range",
          "id": "width_desktop",
          "min": 2,
          "max": 12,
          "step": 1,
          "label": "Width Desktop",
          "default": 6
        },
        {
          "type": "range",
          "id": "width_mobile",
          "min": 2,
          "max": 12,
          "step": 1,
          "label": "Width Mobile",
          "default": 12
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "footer_section_title",
          "label": "Heading",
          "default": "Headig"
        },
        {
          "type": "richtext",
          "id": "paragraph",
          "label": "Paragraph",
          "default": "<p>Monthly digest of what's new and exciting from us.</p>"
        },
        {
          "type": "header",
          "content": "Width"
        },
        {
          "type": "range",
          "id": "width_desktop",
          "min": 2,
          "max": 12,
          "step": 1,
          "label": "Width Desktop",
          "default": 6
        },
        {
          "type": "range",
          "id": "width_mobile",
          "min": 2,
          "max": 12,
          "step": 1,
          "label": "Width Mobile",
          "default": 12
        }
      ]
    },
    {
      "type": "social_media",
      "name": "Social Media",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Add social media link from main settings."
        },
        {
          "type": "text",
          "id": "footer_section_title",
          "label": "Heading",
          "default": "Quick links"
        },
        {
          "type": "header",
          "content": "Width"
        },
        {
          "type": "range",
          "id": "width_desktop",
          "min": 2,
          "max": 12,
          "step": 1,
          "label": "Width Desktop",
          "default": 6
        },
        {
          "type": "range",
          "id": "width_mobile",
          "min": 2,
          "max": 12,
          "step": 1,
          "label": "Width Mobile",
          "default": 12
        }
      ]
    }
  ]
}
{% endschema %}
