<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="{{ routes.root_url }}">
      {% if settings.logo != blank %}
        {{ settings.logo | image_url: width: 30, height: 24 | image_tag: alt: settings.logo.alt }}
      {% else %}
        {{ shop.name }}
      {% endif %}
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav col-6 flex-wrap me-auto mb-2 mb-lg-0">
        {% for link in linklists['main-menu'].links -%}
          {% if link.links.size > 0 -%}
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle {% if link.active %}active{% endif %}"
                href="{{ link.url }}"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {{ link.title }}
              </a>
              <ul class="dropdown-menu">
                {% for children in link.links %}
                  <li>
                    <a class="dropdown-item {% if children.active %}active{% endif %}" href="{{ children.url }}">
                      {{- children.title -}}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </li>

          {%- else -%}
            <li class="nav-item">
              <a href="{{ link.url }}" class="nav-link {% if link.active %}active{% endif %}">
                {{ link.title }}
              </a>
            </li>
          {%- endif %}
        {%- endfor %}
      </ul>

      <div class="d-flex align-items-center gap-2 flex-wrap">
        <form class="d-flex" role="search" action="{{ routes.search_url }}">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
            name="q"
            value="{{ search.terms | escape }}"
          >
          <input type="submit" class="btn btn-outline-success" value="Search">
        </form>

        <div class="btn-group">
          <button
            type="button"
            class="btn border-secondary dropdown-toggle"
            data-bs-toggle="dropdown"
            data-bs-display="static"
            aria-expanded="false"
          >
            {% render 'icon-user' %}
          </button>
          <ul class="dropdown-menu dropdown-menu-start dropdown-menu-lg-end">
            {% if customer %}
              <a class="text-decoration-none" href="{{ routes.account_url }}">
                <li>
                  <button class="dropdown-item" type="button">Account</button>
                </li>
              </a>
              <a class="text-decoration-none" href="{{ routes.account_logout_url }}">
                <li>
                  <button class="dropdown-item text-danger" type="button">Logout</button>
                </li>
              </a>
            {% else %}
              <a class="text-decoration-none" href="{{ routes.account_login_url }}">
                <li><button class="dropdown-item" type="button">Login</button></li>
              </a>
              {% if shop.customer_accounts_optional %}
                <a class="text-decoration-none" href="{{ routes.account_register_url }}">
                  <li><button class="dropdown-item" type="button">Registration</button></li>
                </a>
              {% endif %}
            {% endif %}
          </ul>
        </div>

        <a href="{{ routes.cart_url }}">
          <button type="button" class="btn border-secondary position-relative">
            {% render 'icon-cart' %}
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
              {{ cart.item_count }}
              <span class="visually-hidden">Cart</span>
            </span>
          </button>
        </a>
        <!-- offcanvas -->
      </div>
    </div>
  </div>
</nav>

{% schema %}
{
  "name": "Header",
  "class": "section-header",
  "settings": [
    
  ],
  "blocks": []
}
{% endschema %}
