<div class="card container my-5 border-0">
  <div class="row align-items-center {% if section.settings.image_alignment == 'last' %}flex-row-reverse{% endif %} g-0">
    <div class="col-md-6">
      {% if section.settings.image_with_text_image != blank %}
        {{
          section.settings.image_with_text_image
          | image_url: width: 720
          | image_tag: class: 'img-fluid rounded', alt: section.settings.image_with_text_image.alt
        }}
      {% else %}
        {{ 'collection-4' | placeholder_svg_tag: 'img-fluid rounded border bg-light bg-opacity-75' }}
      {% endif %}
    </div>
    <div class="col-md-6">
      <div class="card-body">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'caption' %}
              <p class="card-text">
                <small class="text-body-secondary">{{ block.settings.caption }}</small>
              </p>
            {% when 'heading' %}
              <h5 class="card-title">{{ block.settings.heading }}</h5>
            {% when 'content' %}
              <p class="card-text">{{ block.settings.paragraph }}</p>
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image with text",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image_with_text_image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "image_alignment",
      "label": "Image alignment",
      "options": [
        {
          "value": "first",
          "label": "Image First"
        },
        {
          "value": "last",
          "label": "Image Last"
        }
      ],
      "default": "first"
    }
  ],
  "blocks": [
    {
      "type": "caption",
      "name": "Caption",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "label": "Caption",
          "default": "Caption"
        }
      ]
    },
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Image with text",
          "label": "Heading"
        }
      ]
    },
    {
      "type": "content",
      "name": "paragraph",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "paragraph",
          "label": "Content",
          "default": "<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas numquam esse fuga sed dignissimos, eos delectus.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image with text",
      "blocks": [
        {
          "type": "caption"
        },
        {
          "type": "heading"
        },
        {
          "type": "content"
        }
      ]
    }
  ]
}
{% endschema %}
