<div id="carousel-{{ section.id }}" class="carousel my-5 container slide">
  <div class="carousel-indicators">
    {% if section.blocks.size > 0 %}
      {% for block in section.blocks %}
        <button
          type="button"
          data-bs-target="#carousel-{{ section.id }}"
          data-bs-slide-to="{{ forloop.index | minus: 1 }}"
          class="{% if forloop.first %}active{% endif %}"
          aria-current="{% if forloop.first %}true{% endif %}"
          aria-label="{{ block.settings.block.settings.slide_image.alt }}"
        ></button>
      {% endfor %}
    {% else %}
      {% for i in (1..2) %}
        <button
          type="button"
          data-bs-target="#carousel-{{ section.id }}"
          data-bs-slide-to="{{ forloop.index | minus: 1 }}"
          class="{% if forloop.first %}active{% endif %}"
          aria-current="{% if forloop.first %}true{% endif %}"
          aria-label="slide {{ forloop.index }}"
        ></button>
      {% endfor %}
    {% endif %}
  </div>
  <div class="carousel-inner rounded">
    {% if section.blocks.size > 0 %}
      {% for block in section.blocks %}
        <div class="carousel-item {% if forloop.index == 1 %}active{% endif %}">
          {% if block.settings.slide_image != blank %}
            {{
              block.settings.slide_image
              | image_url: width: 1024
              | image_tag: class: 'd-block w-100 h-75 object-fit-cover', alt: block.settings.slide_image.alt
            }}
          {% endif %}
          <div class="carousel-caption">
            <h5>{{ block.settings.heading }}</h5>
            <p>{{ block.settings.paragraph }}</p>
          </div>
        </div>
      {% endfor %}
    {% else %}
      {% for i in (1..2) %}
        {% assign name = 'lifestyle-' | append: forloop.index %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          {{ name | placeholder_svg_tag: 'd-block w-100 h-75 object-fit-cover bg-light bg-opacity-75' }}
          <div class="carousel-caption text-dark">
            <h5>Heading - {{ forloop.index }}</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel-{{ section.id }}" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel-{{ section.id }}" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

{% schema %}
{
  "name": "Image banner",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "No customization available. Contact us for personalized options!"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Bannar",
      "limit": 10,
      "settings": [
        {
          "type": "image_picker",
          "id": "slide_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "sub_heading",
          "label": "Sub Heading",
          "default": "Sub Heading"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "paragraph",
          "label": "Paragraph",
          "default": "<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image banner"
    }
  ]
}
{% endschema %}
