<div class="container mt-5">
  <div class="row {%if section.settings.media_position == "right" %}flex-row-reverse{% endif %}">
    {% liquid
      case section.settings.media_width
        when 'small'
          assign col_first = 'col-lg-5'
          assign col_second = 'col-lg-7'
        when 'medium'
          assign col_first = 'col-lg-6'
          assign col_second = 'col-lg-6'
        when 'large'
          assign col_first = 'col-lg-7'
          assign col_second = 'col-lg-5'
      endcase
    %}
    <div class="{{col_first}}">
      <!-- Product Image -->
      {% include 'product-image-slider' %}
    </div>
    <div class="{{col_second}}">
      {%- assign product_form_id = 'product-form-' | append: section.id -%}
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'title' %}
            <h2 class="mb-2">{{ product.title }}</h2>
          {% when 'text' %}
            <div class="my-2">{{ block.settings.inline_text }}</div>
          {% when 'price' %}
            {% assign variant = product.selected_or_first_available_variant %}
            <div id="price-{{ section.id }}" class="font-weight-bold my-2 h4">
              {% if variant.compare_at_price > variant.price %}
                <span class="text-decoration-line-through me-2 compare-at-product-price">
                  {{ variant.compare_at_price | money }}
                </span>
              {% endif %}
              <span class="text-success prduct-main-price">
                {{ variant.price | money }}
              </span>
            </div>
          {% when 'variant_picker' %}
            {% include 'variant-picker' %}
          {% when 'quantity_input' %}
            <div class="d-flex my-2 gap-2 align-items-center w-25">
              <label for="quantity-input-{{ product_form_id }}">Quantity:</label>
              <input
                type="number"
                class="form-control"
                name="quantity"
                id="quantity-input-{{ section.id }}"
                value="{{ variant.quantity_rule.min }}"
                min="{{ variant.quantity_rule.min }}"
                {% if variant.quantity_rule.max %}
                  max="{{ variant.quantity_rule.max }}"
                {% endif %}
                {% if variant.quantity_rule.increment %}
                  step="{{ variant.quantity_rule.increment }}"
                {% endif %}
              >
            </div>
          {% when 'buy_button' %}
            {% form 'product', product, id: product_form_id %}
              {% if variant.available %}
                <button name="add" type="submit" class="btn my-2 btn-primary product-add-to-cart-button">Add To Cart</button>
              {% else %}
                <button name="add" disabled type="submit" class="btn my-2 btn-primary product-add-to-cart-button">
                  Sold Out
                </button>
              {% endif %}
            {% endform %}
          {% when 'description' %}
            <p>
              {{ product.description | truncatewords: 20 }}
              {% assign words = product.description | split: '' %}
              {% if words.size > 20 %}
                <a
                  href="#description"
                  style="
                    display: inline;
                    color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
                    text-decoration: underline;
                  "
                  class="link nav-link"
                  >Read more</a
                >
              {% endif %}
            </p>
        {% endcase %}
      {% endfor %}
    </div>
  </div>

  <!-- Product Tabs -->
  {% include 'product-tabs' %}
</div>

{% schema %}
{
  "name": "Product Information",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Media",
      "info": "Learn more about [media types.](https://help.shopify.com/manual/products/product-media)"
    },
    {
      "type": "select",
      "id": "media_width",
      "label": "Desktop media width",
      "info": "Media is automatically optimized for mobile.",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "media_fit",
      "label": "Media fit",
      "options": [
        {
          "value": "original",
          "label": "Original"
        },
        {
          "value": "fill",
          "label": "Fill"
        }
      ],
      "default": "original"
    },
    {
      "type": "select",
      "id": "media_layout",
      "label": "Media layout",
      "info": "This layout for product slider. If the product contain more than one media.",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "bottom"
    },
    {
      "type": "select",
      "id": "media_position",
      "label": "Media position",
      "info": "This layout for product page to where the image slider appear, right or left.",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "checkbox",
      "id": "image_zoom",
      "label": "Image zoom",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "inline_text",
          "label": "Text"
        }
      ]
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1
    },
    {
      "type": "variant_picker",
      "name": "Variant Picker",
      "limit": 1
    },
    {
      "type": "quantity_input",
      "name": "Quantity Input",
      "limit": 1
    },
    {
      "type": "buy_button",
      "name": "Buy Button",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_payment_button",
          "label": "Show dynamic checkout button",
          "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/online-store/dynamic-checkout)",
          "default": true
        }
      ]
    }
  ]
}
{% endschema %}
