{% if cart.items.size > 0 %}
  <form class="container mt-5 mb-5" action="{{ routes.cart_url }}" method="post">
    <div class="row">
      <div class="col-md-8">
        <h2>Your Shopping Cart</h2>

        <!-- Cart items list -->
        {% for item in cart.items %}
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-6 col-md-2">
                  <img src="{{ item.image.src | img_url: '150x' }}" alt="Product Image" class="img-fluid">
                </div>
                <div class="col-6 col-md-4">
                  <a href="{{ item.url }}" class="text-decoration-none">
                    <h5 class="card-title">{{ item.title }}</h5>
                  </a>
                  <p class="card-text d-none d-md-block">{{ item.original_price | money }}</p>
                  <p class="card-text d-block d-md-none">{{ item.final_line_price | money }}</p>
                  <div class="form-group d-block d-md-none mb-3">
                    <label for="quantity{{ item.id }}">Quantity:</label>
                    <input
                      type="number"
                      id="quantity{{ item.id }}"
                      min="1"
                      class="form-control"
                      name="updates[]"
                      value="{{ item.quantity }}"
                    >
                  </div>
                </div>
                <div class="col-md-2 col-6">
                  <div class="form-group d-none d-md-block">
                    <label for="quantity{{ item.id }}">Quantity:</label>
                    <input
                      type="number"
                      id="quantity{{ item.id }}"
                      min="1"
                      class="form-control"
                      name="updates[]"
                      value="{{ item.quantity }}"
                    >
                  </div>
                </div>
                <div class="col-md-2 d-none d-md-block">
                  {{ item.final_line_price | money }}
                </div>
                <div class="col-md-2 col-6 text-md-right">
                  <a href="{{ item.url_to_remove }}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        <!-- Repeat the above card structure for each item in the cart -->
        <br>
        <input class="btn btn-primary" type="submit" value="Update Cart">
      </div>
      <div class="col-md-4 mt-4 mb-mt-0">
        <!-- Cart summary -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Cart Summary</h5>
            <p>Total Items: {{ cart.item_count }}</p>
            <p>Total Price: {{ cart.items_subtotal_price | money }}</p>
            <input class="btn btn-primary" type="submit" name="checkout" value="Proceed to Checkout">
          </div>
        </div>
      </div>
    </div>
  </form>
{% else %}
  <div
    class="container-fluid d-flex flex-column justify-content-center align-items-center text-center"
    style="height: 60vh;"
  >
    <p>Your cart is currently empty.</p>
    <a href="{{ routes.all_products_collection_url }}" class="btn btn-primary">Shop Now</a>
  </div>
{% endif %}

{% schema %}
{
  "name": "Cart Items",
  "class": "section",
  "settings": []
}
{% endschema %}
