<h1>{{product.title}}</h1>
<h3>{{product.price | money }}</h3>
{{ product.description }}
{% form 'product', product %}
  <select name="id">
{% for variant in product.variants %}
{% if variant.available == true %}
<option value="{{variant.id}}"> {{ variant.title }} for {{ variant.price | money_with_currency }}</option>
{% else %}
<option disabled="disabled"> {{ variant.title }} - sold out!</option>
{% endif %}
{% endfor %}
</select>

  <input type="submit" value="Add to cart">
{% endform %}
