<div class="container mt-5 mb-5">
  <h1 class="mb-4">{{ blog.title }}</h1>
  {% paginate blog.articles by 2 %}
    <!-- Blog Articles -->
    <div class="row">
      {% for article in blog.articles %}
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            {% if section.settings.show_featured_image %}
              <a href="{{ article.url }}" class="text-decoration-none">
                {% if article.image != blank %}
                  <img
                    src="{{ article.image | image_url: width: 720, height: 350 }}"
                    class="card-img-top"
                    alt="{{ article.title }}"
                  >
                {% endif %}
              </a>
            {% endif %}
            <div class="card-body">
              <a href="{{ article.url }}" class="text-decoration-none">
                <h5 class="card-title">{{ article.title }}</h5>
              </a>
              {% if section.settings.show_author %}
                <b>{{ article.author }}</b>
              {% endif %}
              {% liquid
                if section.settings.show_featured_image and article.image == blank
                  assign truncate = 300
                else
                  assign truncate = 100
                endif
              %}
              <p class="card-text">{{ article.content | truncate: truncate }}</p>
            </div>

            {% if section.settings.show_date %}
              <div class="card-footer">
                <div class="d-flex justify-content-between">
                  <small class="text-muted">{{ article.published_at | date: '%B %d, %Y' }}</small>
                  {% if article.comments_count > 0 %}
                    <small>{{ article.comments_count }} Comments</small>
                  {% endif %}
                </div>
              </div>
            {% else %}
              {% if article.comments_count > 0 %}
                <div class="card-footer">
                  <div class="d-flex justify-content-between">
                    <small>{{ article.comments_count }} Comments</small>
                  </div>
                </div>
              {% endif %}
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>

    <!-- Pagination -->
    {% include 'custom-pagination' %}
  {% endpaginate %}
</div>

{% schema %}
{
  "name": "Blog",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_featured_image",
      "label": "Show featured image",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "Show Date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "Show Author",
      "default": false
    }
  ]
}
{% endschema %}
