<div class="container mt-5">
  <div class="row {%if section.settings.media_position == "right" %}flex-row-reverse{% endif %}">
    {% liquid
      case section.settings.media_width
        when 'small'
          assign col_first = 'col-lg-5'
          assign col_second = 'col-lg-7'
        when 'medium'
          assign col_first = 'col-lg-6'
          assign col_second = 'col-lg-6'
        when 'large'
          assign col_first = 'col-lg-7'
          assign col_second = 'col-lg-5'
      endcase
    %}
    <div class="{{col_first}}">
      <!-- Product Image -->
      {% include 'product-image-slider' %}
    </div>
    <div class="{{col_second}}">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'title' %}
            <h2 class="mb-4">{{ product.title }}</h2>
          {% when 'text' %}
            <div>{{ block.settings.inline_text }}</div>
          {% when 'price' %}
            <!-- price -->
            {% assign variant = product.selected_or_first_available_variant %}
            <p class="font-weight-bold h4">
              {% if variant.compare_at_price > variant.price %}
                <span class="text-decoration-line-through compare-at-product-price">
                  {{ variant.compare_at_price | money }}
                </span>
              {% endif %}
              <span class="text-success prduct-main-price">
                {{ variant.price | money }}
              </span>
            </p>
            <!-- form -->
          {% when 'form' %}
            {% comment %} {% include "variant-picker" %} {% endcomment %}
            <div class="mb-2">
              {% form 'product', product %}
                <!-- variant picker -->
                {% if block.settings.show_var_picker %}
                  <div class="d-flex gap-2 align-items-center mb-3">
                    <label for="id">Choose a Variant:</label>
                    <select class="form-select variant-selector-input" style="width: fit-content;" name="id" id="id">
                      {% for variant in product.variants %}
                        <option
                          value="{{ variant.id }}"
                          {% if variant == product.selected_or_first_available_variant %}
                            selected="selected"
                          {% endif %}
                        >
                          {{ variant.title }}
                        </option>
                      {% endfor %}
                    </select>
                    <script>
                      const product = {{ product | json }};
                    </script>
                  </div>
                {% endif %}
                <!-- quantty -->
                {% if block.settings.show_qty_selector %}
                  <div class="d-flex gap-2 align-items-center w-25">
                    <label for="quantity">Quantity:</label>
                    <input
                      type="number"
                      class="form-control product-quantity-input"
                      name="quantity"
                      id="quantity"
                      value="{{ variant.quantity_rule.min }}"
                      min="{{ variant.quantity_rule.min }}"
                      {% if variant.quantity_rule.max %}
                        max="{{ variant.quantity_rule.max }}"
                      {% endif %}
                      {% if variant.quantity_rule.increment %}
                        step="{{ variant.quantity_rule.increment }}"
                      {% endif %}
                    >
                  </div>
                {% endif %}
                <!-- buy button -->
                {% if block.settings.enable_payment_button %}
                  <br>
                  {% if variant.available %}
                    <button type="submit" class="btn btn-primary product-add-to-cart-button">Add To Cart</button>
                  {% else %}
                    <button disabled type="submit" class="btn btn-primary product-add-to-cart-button">
                      Unavailable
                    </button>
                  {% endif %}
                {% endif %}
                <!-- end -->
              {% endform %}
            </div>
          {% when 'description' %}
            <p>
              {{ product.description | truncatewords: 20 }}
              {% assign words = product.description | split: '' %}
              {% if words.size > 20 %}
                <a
                  href="#description"
                  style="
                    display: inline;
                    color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
                    text-decoration: underline;
                  "
                  class="link nav-link"
                  >Read more</a
                >
              {% endif %}
            </p>
        {% endcase %}
      {% endfor %}
    </div>
  </div>

  <!-- Product Tabs -->
  {% include 'product-tabs' %}
</div>

{% schema %}
{
  "name": "Product Information",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Media",
      "info": "Learn more about [media types.](https://help.shopify.com/manual/products/product-media)"
    },
    {
      "type": "select",
      "id": "media_width",
      "label": "Desktop media width",
      "info": "Media is automatically optimized for mobile.",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "media_fit",
      "label": "Media fit",
      "options": [
        {
          "value": "original",
          "label": "Original"
        },
        {
          "value": "fill",
          "label": "Fill"
        }
      ],
      "default": "original"
    },
    {
      "type": "select",
      "id": "media_layout",
      "label": "Media layout",
      "info": "This layout for product slider. If the product contain more than one media.",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "bottom"
    },
    {
      "type": "select",
      "id": "media_position",
      "label": "Media position",
      "info": "This layout for product page to where the image slider appear, right or left.",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "checkbox",
      "id": "image_zoom",
      "label": "Image zoom",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "inline_text",
          "label": "Text"
        }
      ]
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1
    },
    {
      "type": "form",
      "name": "Form",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_payment_button",
          "label": "Show dynamic checkout button",
          "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/online-store/dynamic-checkout)",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_qty_selector",
          "label": "Show quantity selector",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_var_picker",
          "label": "Show variant picker",
          "default": true
        }
      ]
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1
    }
  ]
}
{% endschema %}
