<div class="container my-5">
  <div class="row {%if section.settings.media_position == "right" %}flex-row-reverse{% endif %} {% unless product.media.size > 1 %}justify-content-center{% endunless %}">
    {% liquid
      case section.settings.media_width
        when 'small'
          assign col_first = 'col-lg-5'
          assign col_second = 'col-lg-7'
        when 'medium'
          assign col_first = 'col-lg-6'
          assign col_second = 'col-lg-6'
        when 'large'
          assign col_first = 'col-lg-7'
          assign col_second = 'col-lg-5'
      endcase
    %}

    {% if product.media.size > 1 %}
      <div id="media-section-{{ section.id }}" class="{{col_first}}">
        <!-- Product Image -->
        {% include 'product-image-slider' %}
      </div>
    {% endif %}

    <div class="{{col_second}} {% unless product.media.size > 1 %}col-lg-8{% endunless %}">
      {%- assign product_form_id = 'product-form-' | append: section.id -%}
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'title' %}
            <h2 class="mb-2">{{ product.title }}</h2>
          {% when 'text' %}
            <div class="my-2">{{ block.settings.inline_text }}</div>
          {% when 'price' %}
            {% assign variant = product.selected_or_first_available_variant %}

            <h4 class="d-flex gap-2 flex-wrap" id="price-{{ section.id }}">
              {% if variant.compare_at_price > variant.price %}
                <span class="text-decoration-line-through me-2 compare-at-product-price">
                  {{ variant.compare_at_price | money }}
                </span>
              {% endif %}
              <span class="prduct-main-price text-success">
                {{ variant.price | money }}
              </span>
              {% if variant.compare_at_price > variant.price %}
                <small class="badge bg-primary">Sale</small>
              {% endif %}
            </h4>

          {% when 'variant_picker' %}
            {% include 'variant-picker' %}
          {% when 'quantity_input' %}
            <div class="d-flex flex-wrap my-2 gap-2 align-items-center">
              <label for="quantity-input-{{ product_form_id }}">Quantity:</label>
              <input
                type="number"
                class="form-control w-25"
                form="{{ product_form_id }}"
                name="quantity"
                id="quantity-input-{{ section.id }}"
                value="{{ variant.quantity_rule.min }}"
                min="{{ variant.quantity_rule.min }}"
                {% if variant.quantity_rule.max %}
                  max="{{ variant.quantity_rule.max }}"
                {% endif %}
                {% if variant.quantity_rule.increment %}
                  step="{{ variant.quantity_rule.increment }}"
                {% endif %}
              >
            </div>
          {% when 'buy_button' %}
            <product-form data-section="{{ section.id }}">
              {% form 'product', product, id: product_form_id %}
                <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                {% if variant.available %}
                  <button name="add" type="submit" class="btn my-2 btn-primary product-add-to-cart-button">
                    Add To Cart
                  </button>
                  <div class="visually-hidden">
                    {{ form | payment_button }}
                  </div>
                  <span class="btn border-secondary ms-3 buy-it-now-btn">Buy it now</span>
                  
                  {% else %}
                  <button name="add" disabled type="submit" class="btn my-2 btn-primary product-add-to-cart-button">
                    Sold Out
                  </button>
                  <span class="btn border-secondary ms-3 disabled buy-it-now-btn">Buy it now</span>
                {% endif %}
              {% endform %}
            </product-form>
          {% when 'description' %}
            {% assign productDescriptionWithClass = product.description | replace: '<img ', '<img class="img-fluid" ' %}
            {{ productDescriptionWithClass }}
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product Information",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Media",
      "info": "Learn more about [media types.](https://help.shopify.com/manual/products/product-media)"
    },
    {
      "type": "select",
      "id": "media_width",
      "label": "Desktop media width",
      "info": "Media is automatically optimized for mobile.",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "media_position",
      "label": "Media position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    }
  ],
  "blocks": [
    {
      "type": "title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "inline_text",
          "label": "Text"
        }
      ]
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1
    },
    {
      "type": "variant_picker",
      "name": "Variant Picker",
      "limit": 1
    },
    {
      "type": "quantity_input",
      "name": "Quantity Input",
      "limit": 1
    },
    {
      "type": "buy_button",
      "name": "Buy Button",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_payment_button",
          "label": "Show dynamic checkout button",
          "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/online-store/dynamic-checkout)",
          "default": true
        }
      ]
    }
  ]
}
{% endschema %}
